In [101]:
import pandas as pd

In [102]:
raw_tr = pd.read_csv(r'C:\Project\dacon-lettuce-growth\Lettuce-Growth-Environment-Prediction\data\train_input\CASE_01.csv')
raw_tr

,DAT,obs_time,내부온도관측치,내부습도관측치,co2관측치,ec관측치,시간당분무량,일간누적분무량,시간당백색광량,일간누적백색광량,시간당적색광량,일간누적적색광량,시간당청색광량,일간누적청색광량,시간당총광량,일간누적총광량
0,0,00:00,25.300000,81.835000,536.016667,1.407439,0.0,0.00,0.00,0.00,0.000,0.000,0,0,0.000,0.000
1,0,01:00,25.680357,81.264286,528.696429,1.409003,126.0,126.00,0.00,0.00,0.000,0.000,0,0,0.000,0.000
2,0,02:00,25.273333,81.471666,532.833333,1.406913,0.0,126.00,0.00,0.00,0.000,0.000,0,0,0.000,0.000
3,0,03:00,25.355000,81.398334,545.566667,1.406689,126.0,252.00,0.00,0.00,0.000,0.000,0,0,0.000,0.000
4,0,04:00,25.391667,81.483333,558.583333,1.411070,0.0,252.00,0.00,0.00,0.000,0.000,0,0,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,27,19:00,30.880000,82.255000,464.433333,0.000000,252.0,3638.54,18255.19,254644.43,976.332,13619.004,0,0,19231.522,268263.434
668,27,20:00,29.068333,82.506667,534.633333,0.000000,126.0,3764.54,618.82,255263.25,33.096,13652.100,0,0,651.916,268915.350
669,27,21:00,28.246667,82.835000,563.433333,0.000000,0.0,3764.54,0.00,255263.25,0.000,13652.100,0,0,0.000,268915.350
670,27,22:00,28.005000,82.850000,577.150000,0.000000,126.0,3890.54,0.00,255263.25,0.000,13652.100,0,0,0.000,268915.350
671,27,23:00,27.868333,82.453333,588.616667,0.000000,0.0,3890.54,0.00,255263.25,0.000,13652.100,0,0,0.000,268915.350

In [103]:
aug_tr = pd.read_csv(r'C:\Project\dacon-lettuce-growth\Lettuce-Growth-Environment-Prediction\data\aug_train_input\AUG_CASE_01.csv')
aug_tr

,DAT,obs_time,내부온도관측치,내부습도관측치,co2관측치,ec관측치,시간당분무량,시간당백색광량,시간당적색광량,시간당청색광량
0,0,1,25.970719,76.043039,757.045702,1.523087,236.023999,18304.411340,0.000000,0
1,0,2,28.800030,83.076688,449.177014,0.029718,124.773323,0.000000,990.292917,0
2,0,4,27.688197,78.554179,578.467807,1.491698,140.966157,17979.821143,956.007787,0
3,0,4,25.148632,76.176678,955.796581,1.466240,113.192656,781.974200,65.921244,0
4,0,5,25.337897,81.344099,457.762382,0.730150,186.521661,18958.062887,1008.580220,0
...,...,...,...,...,...,...,...,...,...,...
667,27,19,27.803588,82.156339,565.353797,0.308285,233.988601,17165.664086,971.001789,0
668,27,20,25.276451,83.637064,1200.000000,0.886003,143.471290,16793.113085,95.522897,0
669,27,20,27.480044,81.741401,469.867596,1.459136,210.726586,18516.851951,9.931736,0
670,27,21,27.065847,75.178863,441.483338,1.429308,205.746986,839.020167,959.492536,0
671,27,23,25.536598,75.383140,471.080312,1.518540,172.448175,0.000000,0.000000,0

In [104]:
raw_tr.columns

Index(['DAT', 'obs_time', '내부온도관측치', '내부습도관측치', 'co2관측치', 'ec관측치', '시간당분무량',
       '일간누적분무량', '시간당백색광량', '일간누적백색광량', '시간당적색광량', '일간누적적색광량', '시간당청색광량',
       '일간누적청색광량', '시간당총광량', '일간누적총광량'],
      dtype='object')

In [105]:
aug_tr.columns

Index(['DAT', 'obs_time', '내부온도관측치', '내부습도관측치', 'co2관측치', 'ec관측치', '시간당분무량',
       '시간당백색광량', '시간당적색광량', '시간당청색광량'],
      dtype='object')

In [106]:
cumsum_cols = ['일간누적분무량', '일간누적백색광량', '일간누적적색광량', '일간누적청색광량', '시간당총광량', '일간누적총광량']
target_cols = ['시간당분무량', '시간당백색광량', '시간당적색광량', '시간당청색광량']

In [107]:
aug_tr

,DAT,obs_time,내부온도관측치,내부습도관측치,co2관측치,ec관측치,시간당분무량,시간당백색광량,시간당적색광량,시간당청색광량
0,0,1,25.970719,76.043039,757.045702,1.523087,236.023999,18304.411340,0.000000,0
1,0,2,28.800030,83.076688,449.177014,0.029718,124.773323,0.000000,990.292917,0
2,0,4,27.688197,78.554179,578.467807,1.491698,140.966157,17979.821143,956.007787,0
3,0,4,25.148632,76.176678,955.796581,1.466240,113.192656,781.974200,65.921244,0
4,0,5,25.337897,81.344099,457.762382,0.730150,186.521661,18958.062887,1008.580220,0
...,...,...,...,...,...,...,...,...,...,...
667,27,19,27.803588,82.156339,565.353797,0.308285,233.988601,17165.664086,971.001789,0
668,27,20,25.276451,83.637064,1200.000000,0.886003,143.471290,16793.113085,95.522897,0
669,27,20,27.480044,81.741401,469.867596,1.459136,210.726586,18516.851951,9.931736,0
670,27,21,27.065847,75.178863,441.483338,1.429308,205.746986,839.020167,959.492536,0
671,27,23,25.536598,75.383140,471.080312,1.518540,172.448175,0.000000,0.000000,0

In [108]:
group = aug_tr.groupby(['DAT', 'obs_time'])
group